span{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    width:500px;
    margin: auto;
    border: 5px ridge rgb(150, 234, 25);
}